extends layout


block content
  .background
    header un footer tout à fait inutile
    #wrapper
      nav.animated.bounceInLeft
        ul
          - var ind=0
          while ind < 7
            li
             i.fa.fa-arrow-right.visibility
             | chap #{ind++}  
      main
        - var n =0
        while n < 7
          p.
            Voici le paragraphe numéro #{n}
          - n ++
    footer 
      i.fa.fa-home
  script(src='javascripts/index.js')