body, html {
  height: 100%; }

ul {
  list-style-type: none;
  padding: 0; }

li {
  cursor: pointer;
  padding-right: 20px; }

i {
  margin: 10px; }

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgba(23, 23, 200, 0.3);
  margin: 0;
  display: flex;
  flex-direction: column; }

.background {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; }

#jungle {
  background-image: url(https://thumbs.dreamstime.com/z/arabic-cistern-underground-water-tank-caceres-extremadura-spain-collecting-rainwater-medieval-city-50635056.jpg);
  z-index: -2; }

#transparent {
  background-color: rgba(255, 255, 255, 0.3);
  z-index: -1; }

.parchemin {
  background: url(http://recueil-de-png.r.e.pic.centerblog.net/78c700eb.png) no-repeat;
  background-attachment: fixed;
  background-size: 50%;
  background-position: center;
  display: flex;
  flex-direction: column;
  flex: 1; }

.hide {
  display: none; }

.visibility {
  visibility: hidden; }

i.fa-home {
  cursor: pointer;
  text-align: center;
  font-size: 3rem; }

header {
  padding-top: 30px;
  background-color: transparent;
  text-align: center;
  font-size: 2rem; }

main {
  display: flex;
  flex: 1; }

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: olive; }

#texte {
  padding: 20%; }
  #texte p {
    cursor: pointer; }

footer {
  background-color: transparent; }
